{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports"
  ],
  "importOrderTypeScriptVersion": "5.6.2",
  "importOrderParserPlugins": [
    "typescript",
    "decorators-legacy"
  ],
  "importOrder": [
    "<BUILT_IN_MODULES>",
    "",
    "<THIRD_PARTY_MODULES>",
    "^[.]"
  ]
}
